<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HelloWord</title>
</head>

<script>
    function onLineReadPDF() {
        window.open("/pdfjs/web/viewer.html?file=/api/v1/film/order/preview");
    }
</script>
<body>
<h1 onclick="onLineReadPDF()">在线阅读PDF文件</h1>
<h1>hello springboot!!!</h1>

<br/>
<form action="/api/v1/film/cinema/insert" method="post" enctype="multipart/form-data">
    <label>上传图片</label>
    <input type="text" name="name"/>
    <input type="text" name="info"/>
    <input type="text" name="phone"/>
    <input type="text" name="address"/>
    <input type="file" name="file"/>
    <input type="submit" value="上传"/>
</form>
<p>图片:</p>
<img th:src="${filename }"/>

<br/>

<div class="row">
    <div class="col-xs-6 pull_left">
        <form action="/api/v1/film/user/login">
            <div class="form-group">
                <input class="form-control" name="password">
                <input class="form-control" name="name">
                <input class="form-control" name="role">
                <input class="form-control" type="tel" id="verify_input" name="code" placeholder="请输入验证码" maxlength="4">
            </div>
            <div class="form-group">
                <button type="submit">提交</button>
            </div>
        </form>
    </div>
    <div class="col-xs-6 pull_left">
        <a href="javascript:void(0);" title="点击更换验证码">
            <img id="imgVerify" src="" alt="更换验证码" height="36" width="100px" onclick="getVerify(this);">
        </a>
    </div>
    <script>
        function getVerify(obj) {
            obj.src = "/api/v1/film/user/getVerify?" + Math.random();
        }
    </script>
</div>
</body>
</html>