<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.film.mapper.HallMapper">
    <resultMap id="BaseResultMap" type="com.example.film.entity.Hall">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="cinema_id" property="cinemaId" jdbcType="INTEGER"/>
        <result column="rows_num" property="rowsNum" jdbcType="INTEGER"/>
        <result column="columns" property="columns" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name,cinema_id,rows_num,columns
  </sql>

    <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from hall
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hall
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hall
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.film.entity.Hall">
    insert into hall (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.example.film.entity.Hall">
        insert into hall
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="cinemaId != null">
                cinema_id,
            </if>
            <if test="rowsNum != null">
                rows_num,
            </if>
            <if test="columns != null">
                columns,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="cinemaId != null">
                #{cinemaId,jdbcType=INTEGER},
            </if>
            <if test="rowsNum != null">
                #{rowsNum,jdbcType=INTEGER},
            </if>
            <if test="columns != null">
                #{columns,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.film.entity.Hall">
        update hall
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="cinemaId != null">
                cinema_id = #{cinemaId,jdbcType=INTEGER},
            </if>
            <if test="rowsNum != null">
                rows_num = #{rowsNum,jdbcType=INTEGER},
            </if>
            <if test="columns != null">
                columns = #{columns,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.film.entity.Hall">
    update hall
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>