<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.film.mapper.SeatMapper">
    <resultMap id="BaseResultMap" type="com.example.film.entity.Seat">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="time_id" property="timeId" jdbcType="INTEGER"/>
        <result column="row" property="row" jdbcType="INTEGER"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, time_id, row, num
  </sql>

    <select id="findByModel" resultMap="BaseResultMap" parameterType="com.example.film.entity.Seat">
        select * from seat
        <trim prefix="where" prefixOverrides="AND">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="timeId != null">
                AND time_id = #{timeId}
            </if>
        </trim>
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from seat
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seat
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.film.entity.Seat">
    insert into seat (id, time_id, row, 
      num)
    values (#{id,jdbcType=INTEGER}, #{timeId,jdbcType=INTEGER}, #{row,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.example.film.entity.Seat">
        insert into seat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="timeId != null">
                time_id,
            </if>
            <if test="row != null">
                row,
            </if>
            <if test="num != null">
                num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="timeId != null">
                #{timeId,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                #{row,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.film.entity.Seat">
        update seat
        <set>
            <if test="timeId != null">
                time_id = #{timeId,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                row = #{row,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.film.entity.Seat">
    update seat
    set time_id = #{timeId,jdbcType=INTEGER},
      row = #{row,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>